services:
  backend:
    image: ghcr.io/appsfactorygmbh/project-metadata-platform-backend:prod
    container_name: backend-production
    depends_on:
      - db
    environment:
      - PMP_DB_URL=db-production
      - PMP_DB_USER={PMP_DB_USER}
      - PMP_DB_PASSWORD={PMP_DB_PASSWORD}
      - PMP_DB_NAME={PMP_DB_NAME}
      - PMP_DB_PORT=5432
      #- PMP_MIGRATE_DB_ON_STARTUP=true
      - JWT_VALID_ISSUER=validIssue
      - JWT_VALID_AUDIENCE=validAudience
      - JWT_ISSUER_SIGNING_KEY={JWT_ISSUER_SIGNING_KEY}
      - REFRESH_TOKEN_EXPIRATION_HOURS=1460
      - ACCESS_TOKEN_EXPIRATION_MINUTES=120
      - PMP_ADMIN_PASSWORD={PMP_ADMIN_PASSWORD}
    networks:
      - proxy
      - default
    logging:
      driver: "json-file"
      options:
        max-size: "1m"
        max-file: "1"
    labels:
      - traefik.enable=true
      - traefik.http.routers.pmp-be.rule=Host(`api.pmp.appsfactory.app`)
      - traefik.http.routers.pmp-be.tls.certresolver=le-tls
      - traefik.http.routers.pmp-be.middlewares=pmp-be-ipallowlist,external-secure
      - traefik.http.middlewares.pmp-be-ipallowlist.ipallowlist.sourcerange=85.239.102.130/32,213.187.82.10/32

  db:
    image: postgres:15
    container_name: db-production
    environment:
      - POSTGRES_USER={PMP_DB_USER}
      - POSTGRES_PASSWORD={PMP_DB_PASSWORD}
      - POSTGRES_DB={PMP_DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - default

volumes:
  db_data:

networks:
  proxy:
    external: true
